//@import "/assets/fonts/coda/Coda-Heavy.ttf";
// {{ site.baseurl }}

@font-face {
  //font-family: Coda Heavy;
  //src: url("../../assets/fonts/coda/Coda-Heavy.ttf");
}
@import url('https://fonts.googleapis.com/css?family=Play');
@import url('https://fonts.googleapis.com/css?family=Cinzel|Sarpanch:900');

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {  // width < 1200?
    font-size: 56.25%;
  }

  @include respond(tab-port) { // width < 900?
    font-size: 50%;
  }
  @include respond(big-desktop) {
    //font-size: 75%;
  }
}

body {
  background-color: $dark-blue;
  font-family: sans-serif;
}

.container {
  //min-width: 110rem;
  width: 80vw;
  min-height: 85vh;
  max-height: 1100px;
  background-image: linear-gradient(rgba($dark-blue, .9), rgba($mid-blue, .5)), url("../../assets/img/plane2.jpg");
  background-size: cover;
  background-position: center;
  max-width: 1000px;
  margin: 0 auto;

  @media screen and (min-width: 1061px) {
    min-width: 115rem;
  }

  @include respond(laptop2) {
    width: 100vw;
  }
}

.border {
  background-image: linear-gradient($dark-blue, rgba($dark-blue, .6));
  //height: 120%;
  width: 100%;
  //clip-path: polygon(50% 0%, 100% 0, 100% 28%, 79% 20%, 51% 18%, 24% 20%, 0 26%, 0 0);
  //-webkit-clip-path: polygon(50% 0%, 100% 0, 100% 28%, 79% 20%, 51% 18%, 24% 20%, 0 26%, 0 0);
  //clip-path: ellipse(100% 300% at 20% 5%);
  border-bottom: 2px solid #fff;
}
