*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {  // width < 1200?
    font-size: 56.25%;
  }

  @include respond(tab-port) { // width < 900?
    font-size: 50%;
  }
  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  background-color: $dark-blue;
  font-family: sans-serif;
}

.container {
  width: 80vw;
  height: 80vh;
  max-height: 1100px;
  background-image: linear-gradient(rgba($dark-blue, .9), rgba($mid-blue, .5)), url("../../assets/img/plane2.jpg");
  max-width: 1000px;
  margin: 0 auto;
}