.flex {
  display: flex;
  justify-content: flex-end;
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//.mg-top-md { margin-top: 3rem !important;}
.mb-sm {
  margin-bottom: 1rem !important;
}
//.mb-md { margin-bottom: 4rem !important; }
.mb-none {
  margin-bottom: 0 !important;
}
.mb-btm {
  margin-bottom: 35% !important;
}

// .font-sm {
//   font-size: 1.3rem !important;
//   @include respond(large-phone) {
//     font-size: 1.8rem !important;
//   }
// }

.u-min-height {
  min-height: auto !important;
}

.pd-md {
  padding: 0 6rem !important;
  @include respond(mid-phone) {
    padding: 0 4rem !important;
  }
}

.pd-btm-lg {
  padding-bottom: 5rem !important;
}

.green-center {
  text-align: center;
  color: green;
}
