<main class="main" id="main">
  <section class="content">
    <h3 class="content__header">UST Aviation Services</h3>
    <p class="content__text">
      UST Aviation provides customized solutions and skilled staff to major
      airlines.  Flexibility, experience, and training sets us apart
    </p>

    <ul class="content__list">
      <li>
        - Flexibility to meeting change in staff requirements at any location
      </li>
      <li>
        – Experience in managing line aircraft maintenance, hangar maintenance,
        and periodic maintenance checks for major airlines of the world
      </li>
      <li>
        - Our rigorous training standards meet or exceed the best in the
        industry
      </li>
    </ul>
  </section>

  <div class="main__img main__img--12"></div>
</main>
