<main class="main" id="main">
  <section class="content">
    <h3 class="content__header">UST Aviation Services</h3>
    <p class="content__text">
      UST Aviation provides customized solutions and skilled staff to major
      airlines. Experience and training set us apart.
    </p>

    <ul class="content__list">
      <li>- Typical A&P has 9 years of airline experience</li>

      <li>- Over 250 hours of aircraft specific training</li>

      <li>- Flexibility to meet changing requirements</li>

      <li>- Qualification to preform high power runs</li>

      <li>- Taxi and tow aircrafts at major airports</li>
    </ul>
  </section>

  <div class="main__img main__img--12"></div>
</main>
