<section class="services">
  <a href="{{ site.baseurl }}/technicians" class="card">
    <img src="{{ site.baseurl }}/assets/img/engine.png" class="card__img" />
    <div class="card__content">
      <h4 class="card__content__heading">US Technicians</h4>
      <p class="card__content__text">
        One of the first organizations to be FAR 145 certified with D107 for
        providing line aircraft maintenance services at locations other than a
        fixed place.
      </p>
    </div>
  </a>

  <a href="{{ site.baseurl }}/taxi" class="card">
    <img src="{{ site.baseurl }}/assets/img/taxi.png" class="card__img" />
    <div class="card__content">
      <h4 class="card__content__heading">Taxi Tech</h4>
      <p class="card__content__text">
        UST is pleased to introduce their new service known as Taxi Tech to
        manage aircraft taxi moves safely and economically.
      </p>
    </div>
  </a>

  <a href="{{ site.baseurl }}/aviation" class="card">
    <img
      src="{{ site.baseurl }}/assets/img/plane-1.png"
      class="card__img u-min-height"
    />
    <div class="card__content">
      <h4 class="card__content__heading">UST Aviation</h4>
      <p class="card__content__text">
        We provide experienced skilled staffing to major airlines.
      </p>
    </div>
  </a>

  <a href="{{ site.baseurl }}/hanger" class="card">
    <img
      src="{{ site.baseurl }}/assets/img/hanger.jpeg"
      class="card__img u-min-height"
    />
    <div class="card__content">
      <h4 class="card__content__heading">Hanger Services</h4>
      <p class="card__content__text">
        UST leases a 130,000 square foot hangar at O'Hare International Airport
        - the world's busiest airport by the number of flights.
      </p>
    </div>
  </a>
</section>
