<section class="services">
    <div class="card">
        <img src="{{ site.baseurl }}/assets/img/plane.jpg" class="card__img">
        <div class="card__content">
            <h4 class="card__content__heading">US Technicians</h4>
            <p class="card__content__text">US Technicians is one of the first organizations to be FAR 145 certified with D107 for providing line aircraft maintenance services at locations other than a fixed place.</p>
        </div>
    </div>

    <div class="card">
        <img src="{{ site.baseurl }}/assets/img/plane.jpg" class="card__img">
        <div class="card__content">
            <h4 class="card__content__heading">Taxi Tech</h4>
            <p class="card__content__text">UST is pleased to introduce their new service known as Taxi Tech to manage aircraft taxi moves safely and economically.</p>
        </div>
    </div>

    <div class="card">
        <img src="{{ site.baseurl }}/assets/img/plane.jpg" class="card__img">
        <div class="card__content">
            <h4 class="card__content__heading">UST Aviation</h4>
            <p class="card__content__text">We provide experienced skilled staffing to major airlines.</p>
        </div>
    </div>
</section>