<main class="main" id="main">
  <section class="content">
    <h3 class="content__header mb-md">Contact</h3>

    <h3 class="content__contact__header pd-md">Information</h3>
    <p class="content__contact__text pd-md">
      Office: <br />
      168 Touhy Court <br />
      Des Plaines, IL 60018 <br />
      T: 847.299.8444 <br />
      Email<a href="mailto:office@ustechs.us" style="margin-left: 10px"
        >office@ustechs.us</a
      >
    </p>
  </section>

  <div class="main__img main__img--7"></div>
  {{/*
  <form name="submit-to-google-sheet" class="form">
    <h3 class="content__contact__header mg-top-md">Contact Form</h3>

    <input name="name" type="text" placeholder="Your Name:" />
    <input name="email" type="email" placeholder="Your Email:" />
    <textarea
      name="message"
      placeholder="Message:"
      rows="3"
      cols="28"
      class="form__msg"
      role="textbox"
    ></textarea>
    <div class="flex">
      <button class="btn" type="reset">Clear</button>
      <button id="submit-button" class="btn" type="submit">Send</button>
    </div>
  </form>
  */}}
</main>

<script async>
  // CONTACT FORM
  // click link below to view form submissions
  // https://docs.google.com/spreadsheets/d/1sO8nr-YFe7ya67bC5dA_yNnGzJyF6wYMGTXP6nBlQn8/edit?usp=sharing

  // documentation for google sheets JS intergration
  // https://github.com/jamiewilson/form-to-google-sheets

  const scriptURL =
    'https://script.google.com/macros/s/AKfycbzppBXOpuspjGsn4IwrQ4q650n7gNzV1akN5tJCusUEsVaodYEAlZCo4EHqn9QXk7j9/exec'
  const form = document.forms['submit-to-google-sheet']

  // submit form on button submit
  form.addEventListener('submit', (e) => {
    sending(e)

    async function fetchData() {
      try {
        // fetch google sheet script data & add submit form
        let res = await fetch(scriptURL, {
          method: 'POST',
          body: new FormData(form),
        })

        // succesful submission
        messagSent(e)

        if (!res.ok) {
          throw new Error(`HTTP error! status: ${res.status}`)
        }

        // not succesful submission
      } catch (e) {
        console.error('Error!', e.message)
      }
    }
    fetchData()
  })

  const sending = (e) => {
    e.preventDefault()
    const button = document.getElementById('submit-button')
    button.innerText = 'Sending'
    button.style.cursor = 'wait'
  }

  // Reset form fields
  const messagSent = (e) => {
    const button = document.getElementById('submit-button')
    console.log('Success!')
    form.reset()
    button.innerText = 'Message Sent'
    button.disabled = e
    button.style.cursor = 'not-allowed'
  }
</script>
