<main class="main" id="main">
    <section class="content">
        <h3 class="content__header">Employment</h3>
        <p class="content__text">This section is designed to inform prospective UST employees when positions become
            available within the organization. Keep checking back with us for the most updated information.</p>

        <p class="content__text">For employment opportunities please apply below.</p>
        <div class="flex-center">
            <a class="content__resume" href="mailto:office@ustaviation.com?Subject=Resume">Email Resume Here</a>
        </div>
    </section>

    <div class="main__img main__img--5"></div>
</main>