<main class="main" id="main">
  <section class="content">
    <h3 class="content__header">Hanger Services</h3>
    <p class="content__text">
      UST leases a 130,000 square foot hangar at O'Hare International Airport -
      the world's busiest airport by the number of flights.
    </p>
    <p class="content__text">
      We specialize in supporting aircraft maintenance requirements for Embraer
      and Bombardier aircraft. Our state-of-the-art facility can accommodate
      over six aircraft at once.
    </p>
  </section>

  <div class="main__img main__img--6"></div>
</main>
