<ul class="nav">
    <li class="nav__item">
        <a href="{{ site.baseurl }}/" class="nav__link">Home</a>
    </li>
    <li class="nav__item nav__item--none" id="hide1">
        <a href="{{ site.baseurl }}/technicians" class="nav__link">US Technicians</a>
    </li>
    <li class="nav__item nav__item--none" id="hide2">
        <a href="{{ site.baseurl }}/taxi" class="nav__link">Taxi Tech</a>
    </li>
    <li class="nav__item nav__item--none" id="hide3">
        <a href="{{ site.baseurl }}/aviation" class="nav__link">UST Aviation</a>
    </li>
    <li class="nav__item nav__item--none" id="hide4">
        <a href="{{ site.baseurl }}/hanger" class="nav__link">Hanger Services</a>
    </li>
    <li class="nav__item">
        <a href="{{ site.baseurl }}/employment" class="nav__link">Employment</a>
    </li>
    <li class="nav__item">
        <a href="{{ site.baseurl }}/contact" class="nav__link">Contact</a>
    </li>
</ul>
