<main class="main" id="main">
  <section class="content">
    <h3 class="content__header">Taxi Tech</h3>
    <p class="content__text">
      UST has an aircraft repositioning service that saves airlines over million
      gallons of jet fuel annually at O’Hare International Airport.  Our service
      increases terminal gate utilization, and it is cheaper, safer, better than
      taxiing aircraft for maintenance moves.
    </p>

    <p
      class="content__text"
      style="color: green; font-weight: bold; text-align: center"
    >
      We have been carbon neutral since 2007!
    </p>
  </section>

  <div class="main__img main__img--3"></div>
</main>
