<main class="main" id="main">
    <section class="content">
        <h3 class="content__header">Taxi Tech</h3>
        <p class="content__text">UST is pleased to introduce their new service known as "Taxi Tech" to manage aircraft
            taxi moves safely and economically.</p>

        <h4 class="content__bold">Taxi Tech offers: </h4>
        <ul class="content__list">
            <li>- Guaranteed economic benefits* and over 95% reduction in emissions/noise</li>

            <li>- Flexibility to meet customers exacting requirements</li>

            <li>- Employees are fully trained and insured</li>

            <li>- Top of the line equipment</li>
        </ul>

        <p class="content__small">* Savings are based on current fuel burn rate for conventional taxi moves, using
            aircraft engines for thrust.</p>
    </section>


    <div class="main__img main__img--3"></div>
</main>