<main class="main" id="main">
    <section class="content">
        <h3 class="content__header mb-sm">US Technicians</h3>
        <p class="content__text font-sm mb-sm">UST Technicians is one of the first organizations to acquire FAR 145 certificate with D107 in 2004. Thus we can support your maintenance requirements at any station throughout the US.</p>

        <p class="content__text font-sm mb-sm">Our capabilities include routine line maintenance, turnaround checks, defect rectifications and overnight inspections up to "A" checks for the following aircrafts:</p>

        <ul class="content__list content__list--sm mb-sm">
            <li>- Boeing 737, 747, 757, DC-9, MD-80</li>

            <li>- Airbus 319, A-320</li>

            <li>- Canadair CL - 600</li>
        </ul>


        <div class="content__container">
            <h4 class="content__bold font-sm">US Technicians' Destructive Testing (NDT) capabilities include:</h4>

            <ul class="content__list content__list--sm">
                <li>- Ultrasound</li>
                <li>- Eddy Current</li>
                <li>- Boroscope</li>
                <li>- Magnetic Particle Inspection</li>
                <li>- Liquid Penetrant</li>
            </ul>
            <!--<img src="../assets/img/faa-logo.png" alt="" class="main__img">-->
            <div class="main__img main__img--4"></div>
        </div>

    </section>

    <div class="main__img main__img--3"></div>
</main>
