<main class="main main--technicians" id="main">
  <section class="content content--technicians">
    <h3 class="content__header mb-sm">US Technicians</h3>
    <p class="content__text font-sm mb-sm">
      US Technicians revolutionized the line aircraft maintenance support to the
      major airlines by being the first organization to acquire FAR 145 repair
      station certificate with D107.  Therefore, we can support your aircraft
      maintenance requirements at any airport throughout the country.
    </p>

    <div class="img-container">
      <figure>
        <img
          src="{{ site.baseurl }}/assets/img/faa-logo.png"
          alt="federal aviation administration logo"
          class="logo__img"
        />
        <figcaption>FAA (UXRO75Y)</figcaption>
      </figure>
    </div>
  </section>

  <div class="main__img main__img--4"></div>
</main>
