<main class="main welcome-animation">
    <section class="content welcome-content-animation">
        <h3 class="content__header">Welcome to UST</h3>
        <p class="content__text">UST is a progressive company that specializes in customized solutions for aircraft maintenance industry. Out commitment to safety and professionalism sets us apart. An average employee has over 9 years of airline experience and over 250 hours of aircraft specific training.</p>

        <p class="content__text">Our skilled technicians are flexible and will support changing requirements. We are the first organization in 2004 to receive a D107 certification, demonstrating our vision and commitment to provide industry leading solutions.</p>
    </section>


    <div class="main__img main__img--1"></div>
</main>








