.services {
  display: flex;
  justify-content: space-around;
  position: relative;

  @include respond(laptop2) {
    flex-direction: column;
    align-items: center;
  }
}
.card {
  text-decoration: none;
  background-color: $grey;
  border: 1px solid #fff;
  padding: 4px;
  display: flex;
  width: 31%;
  min-width: 31rem;
  height: 100%;

  @include respond(laptop2) {
    width: 66%;
    margin-bottom: 2.5rem;
  }
  @media screen and (max-width: 645px) {
    width: 85%;
  }

  &__img {
    width: 45%;
    height: auto;
    min-height: 100%;
    max-height: 11rem;
    background-color: $mid-blue;
    margin-right: 7px;
    object-fit: cover;
    background-size: cover;
    align-self: flex-end;

    @include respond(laptop2) {
      max-width: 14rem;
    }
  }

  &__content {
    padding: 5px;
    color: #0f0f0f;

    &__heading {
      color: #fff;
      font-size: 1.8rem;
      font-weight: 500;
      text-transform: uppercase;
      //letter-spacing: .5px;
      margin-bottom: .6rem;
      text-shadow: 2px 2px rgba(#000, .15);

      @include respond(laptop2) {
        font-size: 2.2rem;
      }
      @include respond(sm-phone) {
        font-size: 2rem;
      }
    }

    &__text {
      font-size: 1.2rem;
      @include respond(laptop2) {
        font-size: 1.8rem;
      }
      @include respond(sm-phone) {
        font-size: 1.6rem;
      }
    }
  }

}