.services {
  display: flex;
  justify-content: space-around;
  position: relative;

  @include respond(laptop2) {
    flex-direction: column;
    align-items: center;
  }
}
.card {
  text-decoration: none;
  background-color: $grey;
  border: 1px solid #fff;
  padding: 5px;
  display: flex;
  width: 31%;
  min-width: 32rem;
  min-height: 14rem;


  @include respond(laptop2) {
    width: 66%;

    margin-bottom: 2.5rem;
  }
  @include respond(md-phone) {
    min-width: 32rem;
  }

  &__img {
    width: 12rem;
    height: 100%;
    background-color: $mid-blue;
    margin-right: 7px;
  }

  &__content {
    padding: 5px;
    color: #0f0f0f;

    &__heading {
      color: #fff;
      font-size: 1.8rem;
      font-weight: 500;
      text-transform: uppercase;
      //letter-spacing: .5px;
      margin-bottom: .6rem;
      text-shadow: 1px 1px rgba(#000, .25);
    }

    &__text {
      font-size: 1.4rem;
    }
  }

}