.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  //color: $orange;

  &__logo {
    width: 22rem;
    height: auto;
  }

  &__primary {
    font-size: 10rem;
    font-weight: 900;
    font-family: 'Teko', sans-serif;
    text-shadow: 2px 2px rgba(orange, .02);
    color: transparent;
    background-image: radial-gradient(orange, $orange, orange);
    -webkit-background-clip: text;
  }

  &__secondary {
    font-family: 'Cinzel', serif;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color: $orange;
    text-shadow: 2px 2px rgba(#000, .25);
    z-index: 10;
    color: transparent;
    background-image: linear-gradient(to bottom, lighten($orange, 20%), $orange);


    //backface-visibility: hidden;
    //display: inline-block;
    -webkit-background-clip: text;

    @include respond(col-header) {
      font-size: 2.4rem;
      padding-bottom: 1rem;
    }
    @include respond(md-phone) {
      font-size: 2rem;
    }
    @include respond(small-phone) {
      font-size: 1.8rem;
    }
  }

  @include respond(col-header) {
    flex-direction: column;
  }
}
