.main {
  width: 80%;
  height: 35rem;
  background-color: rgba(#fff, .6);
  padding: 2rem;
  margin: 5% auto;
  display: flex;

  .content {
    width: 55%;

    &__header {
      font-size: 2rem;
      font-weight: 400;
      color: #fff;
      text-transform: uppercase;
      background-image: linear-gradient(to right, $mid-blue, $dark-blue);
      padding: 5px;
      margin-bottom: 2rem;
    }

    &__text {
      font-size: 1.4rem;
      font-weight: 200;
      line-height: 1.3;
      margin-bottom: 2rem;
      padding: 0 1rem;
    }
  }

  &__img {
    width: 45%;
    height: 90%;
    background-color: $grey;
  }
}