.nav {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;

  & > * {
    &:not(last-child) {
      margin-right: .5rem;
    }
  }

  &__item {
    text-decoration: none;
    background-color: $white;
    color: $dark-blue;
    font-size: 1.6rem;
    padding: .8rem 2.1rem;
    border-radius:  0 0 1rem 1rem;
    //box-shadow: 0 .2rem .1rem .1rem darken($dark-blue, 10%);
  }
}